<table class="table table-bordered cashes">
  <tbody id="cashes"><%= render cashes %></tbody>

  <tbody>
    <tr>
      <td class="cash__name">Залишок на кінець</td>
      <td class="cash__sum" id="at_end"><%= money Cash.at_end %></td>
    </tr>

    <tr>
      <td class="cash__name">Баланс</td>
      <td class="cash__sum" id="balance"><%= money Cash.balance %></td>
    </tr>
  </tbody>
</table>
