<table class="table table-bordered cashes">
  <tbody>
    <% collection.each do |cash| %>
      <tr>
        <td><%= cash.name %></td>

        <td class="text-align-right">
          <%= link_to money(cash.sum), [:edit, cash], data: { remote: true } %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tbody>
    <tr>
      <td>Залишок на кінець</td>

      <td id="at_end" class="text-align-right">
        <%= money Cash.at_end %>
      </td>
    </tr>

    <tr>
      <td>Баланс</td>

      <td id="balance" class="text-align-right">
        <%= money Cash.balance %>
      </td>
    </tr>
  </tbody>
</table>
