<div class="card cashes">
  <div class="card-body">
    <table class="table table-borderless">
      <tbody>
        <% collection.each do |cash| %>
          <tr>
            <td><%= cash.name %></td>

            <td class="text-right">
              <%= link_to money(cash.sum), [:edit, cash, { report: true }], data: { remote: true } %>
            </td>
          </tr>
        <% end %>

        <tr>
          <td>Залишок на кінець</td>

          <td class="text-right">
            <%= money at_end %>
          </td>
        </tr>

        <tr>
          <td>Баланс</td>

          <td id="balance" class="text-right"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
