<table>
  <tbody>
    <% collection.each do |cash| %>
      <tr>
        <td><%= cash.name %></td>

        <td class="right-align">
          <%= link_to money(cash.sum), [:edit, cash, { report: true }], data: { remote: true } %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tbody>
    <tr>
      <td>Залишок на кінець</td>

      <td id="at_end" class="right-align">
        <%= money Cash.at_end %>
      </td>
    </tr>

    <tr>
      <td>Баланс</td>

      <td id="balance" class="right-align">
        <%= money Cash.balance %>
      </td>
    </tr>
  </tbody>
</table>
