<% _, collection = consolidations %>

<div class="card consolidation">
  <div class="card-body">
    <div class="card-text">
      <table>
        <tbody>
          <%= render partial: 'consolidations/consolidation', collection: %>
        </tbody>
      </table>
    </div>
  </div>
</div>
