<% _, category_name, category_id, sum = consolidation %>

<tr>
  <td class="name">
    <%= category_name %>
  </td>

  <td class="sum">
    <%= link_to money(sum), root_path(month: month, category_id:), remote: true %>
  </td>
</tr>
