<% _, collection = consolidations %>

<div class="card consolidation">
  <div class="card-body">
    <div class="card-text">
      <%= render partial: 'consolidations/consolidation', collection: %>
    </div>
  </div>
</div>
