<div class="consolidations-item <%= 'consolidations-item-income' if consolidation.income? %>">
  <div class="consolidations-item-label">
    <%= consolidation.name %>
  </div>

  <%= link_to money(consolidation.sum),
      items_path(month: month, category_id: consolidation.category_id), remote: true %>
</div>
