<div class="consolidations-item <%= 'consolidations-item-income' if consolidation.income? %>">
  <div class="consolidations-item-label">
    <%= consolidation.name %>
  </div>

  <% #TODO: refactor me %>
  <%= link_to money(consolidation.sum),
      items_path(year: consolidation.year, month: consolidation.month, category: consolidation.slug), remote: true %>
</div>
