<%= render 'form' %>

<div class="d-none" id="breadcrumbs">
  <%= breadcrumbs do %>
    <%= link_to 'Категорії', [:backoffice, :categories], class: 'breadcrumb-item', data: { remote: true } %>

    <span class="breadcrumb-item active">Редагування категорії</span>
  <% end %>
</div>
