<div class="mb-3">
  <%= link_to 'Додати', [:new, :backoffice, :category],
    data: { remote: true }, class: 'btn btn-sm btn-outline-success' %>
</div>

<table class="table table-borderless table-hover">
  <tr>
    <th>Назва</th>

    <th class="text-center">Надходження</th>

    <th class="text-center">Відображається</th>

    <th></th>
  </tr>

  <%= render collection %>
</table>
