.consolidation {
  @extend .float-start, .me-2;

  font-size: 13px;

  white-space: nowrap;

  tr {
    line-height: 20px;
  }

  .name {
    min-width: 125px;
  }

  .sum {
    @extend .text-end;
  }

  .summary {
    font-weight: bold;

    tr {
      line-height: 25px;
    }
  }
}
