package itemcomponents

import "github.com/tksasha/balance/internal/models"

templ CreatePage(items []*models.Item) {
	@Form(models.NewItem())
	<div id="items" hx-swap-oob="true">
		@Table(items)
	</div>
}
