package itemcomponents

import "github.com/tksasha/balance/internal/decorators"

templ CreatePage(
	items *decorators.ItemsDecorator,
	categories *decorators.CategoriesDecorator,
	item *decorators.ItemDecorator,
) {
	@Form(item, categories)
	<div id="items" hx-swap-oob="true">
		@Table(items)
	</div>
}
