package itemcomponents

import "github.com/tksasha/balance/internal/decorators"

templ EditPage(item *decorators.ItemDecorator, categories *decorators.CategoriesDecorator) {
	<div class="modal-header">
		Edit Item
	</div>
	<div class="modal-body">
		@Form(item, categories)
	</div>
}
