package itemcomponents

import "github.com/tksasha/balance/internal/models"

templ EditPage(item *models.Item) {
	<div class="modal-header">
		Edit Item
	</div>
	<div class="modal-body">
		@Form(item)
	</div>
}
