package itemcomponents

templ GetItemsIndicator() {
	<div class="d-flex justify-content-center" id="get-items-indicator">
		<div class="spinner-border htmx-indicator" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
}
