package itemcomponents

import (
	"github.com/tksasha/balance/internal/decorators"
	"github.com/tksasha/balance/internal/models"
)

templ IndexPage(currency models.Currency, items *decorators.ItemsDecorator) {
	@Table(currency, items)
}
