package itemcomponents

import "github.com/tksasha/balance/internal/models"

var handle = templ.NewOnceHandle()

templ UpdatePage(item *models.Item) {
	@Row(item, true)
	@handle.Once() {
		<script type="text/javascript">
            (function() {
                bootstrap.Modal.getInstance("#popup").hide();
            }());
        </script>
	}
}
