package itemcomponents

import "github.com/tksasha/balance/internal/decorators"

var handle = templ.NewOnceHandle()

templ UpdatePage(item *decorators.ItemDecorator) {
	@Row(item, true)
	@handle.Once() {
		<script type="text/javascript">
            (function() {
                bootstrap.Modal.getInstance("#popup").hide();
            }());
        </script>
	}
}
