<%= link_to '/caches', data: { remote: true }, class: 'backoffice-icon' do %>
  <span class="backoffice-icon-lg icon-money"></span>

  Залишки
<% end %>

<%= link_to '/categories', data: { remote: true }, class: 'backoffice-icon' do %>
  <span class="backoffice-icon-lg icon-tags"></span>

  Категорії
<% end %>
