<button type="button" id="currencies-widget">
  <%= currency_from_params %>
</button>

<div id="currencies-widget-content">
  <div class="container">
    <div class="row">
      <% CURRENCIES.map do |currency| %>
        <% next if currency == currency_from_params %>

        <div class="col">
          <div class="text-center text-uppercase">
            <%= link_to currency, root_path(currency: currency), class: 'currencies-widget-currency' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
