<footer class="footer">
  <div class="container">
    <div class="text-muted">
      <%= link_to 'Головна', :root %>&nbsp; | &nbsp;<%= link_to 'Категорії', :categories %>
    </div>
  </div>
</footer>