<div class="menu" id="header">
  <div class="row justify-content-center container-fluid">
    <% months.each_with_index do |month, index| %>
      <% index += 1 %>

      <%= link_to month, "/#{ current_date.year }/#{ '%02d' % index  }",
        class: "btn btn-sm #{ 'btn-primary' if index == current_date.month }", remote: true %>
    <% end %>
  </div>

  <div class="row justify-content-center container-fluid">
    <% (2015..Date.today.year).each do |year| %>
      <%= link_to year, "/#{ year }/#{ '%02d' % current_date.month }",
        class: "btn btn-sm #{ 'btn-primary' if year == current_date.year }", remote: true %>
    <% end %>
  </div>
</div>
