<div class="mb-3 float-end">
  <%= link_to 'Додати', [:new, :backoffice, :cash], data: { remote: true }, class: 'btn btn-outline-success' %>
</div>

<table class="table table-borderless table-hover">
  <%= render collection %>
</table>
