<div class="mb-3">
  <%= link_to 'Додати', [:new, :backoffice, :cash],
    data: { remote: true }, class: 'btn btn-sm btn-outline-success' %>
</div>

<table class="table table-borderless table-hover">
  <%= render collection %>
</table>

<div class="d-none" id="breadcrumbs">
  <%= breadcrumbs do %>
    <span class="breadcrumb-item active">Залишки</span>
  <% end %>
</div>
