<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <false/>
    <key>Label</key>
    <string>balance</string>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/homebrew/opt/ruby/bin/bundle</string>
      <string>exec</string>
      <string>rails</string>
      <string>server</string>
      <string>-e</string>
      <string>production</string>
      <string>-P</string>
      <string>/Users/tksasha/balance/tmp/pids/production.server.pid</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/tksasha/balance</string>
    <!-- <key>StandardOutPath</key> -->
    <!-- <string>/Users/tksasha/errors.log</string> -->
    <!-- <key>StandardErrorPath</key> -->
    <!-- <string>/Users/tksasha/errors.log</string> -->
  </dict>
</plist>
