<div class="cash">
  <div class="cash-name">
    <%= cash.name %>
  </div>

  <div class="cash-sum">
    <%= link_to money(cash.sum), edit_frontend_cash_path(cash), data: { remote: true } %>
  </div>
</div>
