@import "bootstrap-variables";

@import "../bootstrap/scss/bootstrap";

@import "colors";

@import "a";
@import "ajax-loader";
@import "at_end";
@import "backoffice-menu-button";
@import "balance";
@import "body";
@import "bootstrap-datepicker-customized";
@import "breadcrumb";
@import "btn";
@import "cash";
@import "consolidation";
@import "currencies-widget";
@import "has-error";
@import "header";
@import "item-inline-form";
@import "items";
@import "label";
@import "link";
@import "link-to-backoffice";
@import "modal";
@import "pagination";
@import "popover";
@import "supercategory";
@import "table";
@import "tag";
@import "text-right";

:root {
    --primary-color: #607d8b;
    --light-color:  #eceff1;

    --semibold: 600;
}

.datepicker-cell.selected,
.datepicker-cell.day.today.focused,
    .datepicker-cell.day.today.selected.focused {
    background: var(--primary-color);
    color: var(--light-color);

    &:hover {
        background: var(--primary-color);
    }
}

.datepicker-cell.day.today {
    background: var(--light-color);
    border-color: var(--primary-color);
    font-weight: var(--semibold);
}
