<%= render 'inline_form', resource: Item.new %>

<div class="row">
  <div class="col s4 offset-s4" id="cashes"></div>
</div>

<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <table class="highlight items">
        <thead>
          <tr>
            <th class="center-align items-date">Дата</th>
            <th class="right-align items-sum">Сума</th>
            <th class="center-align items-category">Категорія</th>
            <th class="left-align">Примітка</th>
          </tr>
        </thead>

        <tbody id="items"></tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'widgets/modal' %>

<div id="categories-widget"></div>
