<%= render 'inline_form', resource: Item.new %>

<div id="cashes"></div>

<div class="card consolidations">
  <div class="card-body" id="consolidations"></div>
</div>

<div class="card items">
  <div class="card-body">
    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th class="items-date">Дата</th>
          <th class="items-sum">Сума</th>
          <th class="items-category">Категорія</th>
          <th>Примітка</th>
        </tr>
      </thead>

      <tbody id="items"></tbody>
    </table>
  </div>
</div>

<%= render 'widgets/modal' %>
