<%= render 'inline_form', resource: Item.new %>

<div id="cashes"></div>

<div class="card" id="consolidations"></div>

<div class="card items">
  <table class="highlight">
    <thead>
      <tr>
        <th class="center-align items-date">Дата</th>
        <th class="right-align items-sum">Сума</th>
        <th class="center-align items-category">Категорія</th>
        <th class="left-align items-description">Примітка</th>
      </tr>
    </thead>

    <tbody id="items"></tbody>
  </table>
</div>

<%= render 'widgets/modal' %>

<div id="categories-widget"></div>
