package components

import (
  "github.com/tksasha/balance/internal/models"
)

templ ItemCreated(items []models.Item) {
  @ItemForm(models.NewItem())

  <div id="items" hx-swap-oob="true">
    @ItemTable(items)
  </div>
}
