<%= link_to 'Залишки', [:backoffice, :cashes],
  data: { remote: true }, class: 'backoffice-menu-button' %>

<%= link_to 'Категорії', [:backoffice, :categories],
  data: { remote: true }, class: 'backoffice-menu-button' %>

<div class="d-none" id="breadcrumbs">
  <%= breadcrumbs %>
</div>
