.breadcrumbs {
  background-color: inherit;
  box-shadow: none;
  height: auto;
  line-height: 20px;
}

.breadcrumb {
  color: color("teal", "darken-4");
  line-height: inherit;
  font-size: 15px;

  &:before {
    color: color("teal", "lighten-1");
  }

  &:last-child {
    color: color("teal", "darken-1");
  }
}
