.cash-form {
  margin-top: 30px;

  .row {
    .input-field.col {
      padding: 0;

      label {
        left: 0;
      }
    }
  }

  .row:last-child {
    margin-bottom: 0;

    .input-field {
      margin-bottom: 0;
    }
  }
}
