.cashes {
  margin: 0 auto;
  width: 30%;
  font-size: 15px;

  .card-body {
    padding: 5px 15px 13px 18px;
  }

  table {
    margin: 0px;
  }

  td {
    padding: 15px 0px 2px 2px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}
