.cashes {
  margin: 0 auto;
  width: 30%;
  font-size: 15px;

  .card-body {
    padding: 5px 15px 13px 18px;
  }

  table {
    margin: 0px;
  }

  td {
    padding: 15px 0px 2px 2px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.cashes.frontend {
  @extend .row, .mt-3;

  width: 100%;
  margin: auto;
  font-size: $font-size-sm;

  .cash-wrapper {
    @extend .col, .rounded, .me-2, .py-1, .ps-3, .pe-2;

    background: $white;

    &:last-child {
      margin: 0 !important;
    }
  }

  .cash {
    @extend .clearfix, .py-1;
  }

  .cash-name {
    @extend .float-start;
  }

  .cash-sum {
    @extend .float-end;
  }
}
