#consolidations {
  overflow: hidden;
  text-align: right;

  margin: 1% auto 0;
  width: 99%;
}

.consolidations-item {
  float: left;
  padding: 10px 15px;

  &:last-child {
    float: right;
    font-weight: bold;
  }
}

.consolidations-item-income {
  background-color: color("grey", "lighten-5");
}

.consolidations-item-label {
  font-size: 12px;
}
