#consolidations {
  font-size: 12px;
  overflow: hidden;

  margin: 2% auto 0;
  width: 99%;
}

.consolidations-item {
  float: left;
  padding: 10px;

  &:last-child {
    float: right;
    font-weight: bold;
  }
}

.consolidations-item-income {
  background-color: color("grey", "lighten-5");
}
