@import "variables";

.datepicker table tbody tr td.active.day {
  background-color: $blue;
  border-color: darken($blue, 10);
}

.datepicker table tbody tr td.active.day:hover {
  background-color: darken($blue, 5);
}
