@import "variables";

.dropdown-menu .selected {
  background: $blue;
}

.dropdown-menu .selected a {
  color: white;
  outline: none;
}

.dropdown-menu li {
  padding-top: 2px;
  padding-bottom: 2px;
}
