.has-error {
  label {
    color: mcolor("deep-orange", "darken-3");
  }

  input {
    border: none;
    box-shadow: 0 0 2px 0 mcolor("deep-orange", "darken-1");

    &:focus {
      box-shadow: 0 0 4px 0 mcolor("deep-orange", "accent-4");
    }
  }

  .error {
    color: mcolor("deep-orange", "darken-3");
  }
}
