header {
  .row {
    text-align: center;
    padding: 9px 0;
    margin: 0;
  }

  .row + .row {
    padding-top: 0;
    padding-bottom: 9px;
  }

  nav {
    background-color: white;
    box-shadow: 0 0 3px 1px color("grey", "base");
    height: auto;
    line-height: inherit;
  }
}

header .item {
  @extend .btn-small;
  @extend .btn-flat;
  letter-spacing: 0;

  &.active,
  &.active:hover {
    background-color: color("blue-grey", "darken-1");
    color: color("blue-grey", "lighten-5");
  }

  &:hover {
    background-color: color("blue-grey", "lighten-3");
    color: color("blue-grey", "darken-4");
  }
}
