header {
  text-align: center;
  box-shadow: 0 0 3px 1px mcolor("grey", "base");
  background-color: white;

  div {
    padding: 5px 0;
  }

  div + div {
    padding-top: 0;
  }

  a {
    @extend .btn;
    @extend .btn-sm;
    padding: 2px 8px;
    text-transform: uppercase;
    color: mcolor("blue-grey", "base");
    font-size: 12px;

    &.active {
      background-color: mcolor("blue-grey", "base");
      color: mcolor("shades", "white");
    }
  }
}
