.items {
  tr {
    border: none;
  }

  th {
    padding: 10px 0;
  }

  td {
    padding: 8px 0;
  }
}

.items-date {
  width: 15%;
}

.items-sum {
  width: 10%;
}

.items-category {
  width: 25%;
}
