.items {
  margin: 1% auto 2%;
  width: 90%;

  tr {
    border-bottom-color: color("grey", "lighten-5");
  }

  .items-date {
    width: 15%;
  }

  .items-sum {
    width: 10%;
  }

  .items-category {
    width: 25%;
  }

  .items-description {
    width: 50%;
  }
}
