.item-inline-form-container {
  margin: 0 auto 1rem;
  width: 80%;
  overflow: hidden;
  background-color: color("shades", "white");
  padding: 0 10px;

  .input-field {
    float: left;
    margin: 15px 20px 10px 0;

    &:last-child {
      float: right;
      margin-right: 0;
    }

    input {
      font-size: 14px;
      height: auto;
      line-height: 32px;
      border-bottom-color: #eee;

      &:focus {
        border-bottom-color: color("teal", "lighten-4") !important;
        box-shadow: none !important;
      }
    }

    .btn {
      @extend .btn-small;
      line-height: 32px;
    }
  }
}

.item-inline-form-date {
  width: 10%;

  input {
    text-align: center;
  }
}

.item-inline-form-submit {
  height: 45px;
}

.item-inline-form-formula {
  width: 10%;

  input {
    text-align: right;
  }
}

.item-inline-form-description {
  width: 48%;
}

.item-inline-form-category {
  width: 15%;

  input.select-dropdown {
    text-indent: 1px;
  }

}
