.link-to-currencies {
  @extend .btn;
  @extend .btn-primary;

  position: fixed;
  top: 10px;
  right: 60px;

  color: color("primary");
  background: color("white");

  text-transform: uppercase;
}
