.link-to-currencies {
  @extend .btn;
  @extend .btn-primary;

  position: fixed;
  top: 60px;
  right: 20px;
  border-radius: 50%;

  color: color("primary");
  background: color("white");

  &::after {
    content: 'C';
  }
}
