.menu {
  border-radius: 0;
  box-shadow: 0 0 3px 1px #eee;

  .row {
    text-align: center;
    padding: 10px 0;
    margin: 0;
  }

  .row + .row {
    padding-top: 0;
    padding-bottom: 10px;
  }
}

.menu .item {
  @extend .btn-small;
  @extend .btn-flat;

  &.active,
  &.active:hover {
    background-color: color("teal", "lighten-4");
  }

  &:hover {
    background-color: color("teal", "lighten-5");
  }
}
