.tag {
  @extend .border, .rounded-pill, .clearfix, .d-inline-block, .p-1, .text-dark, .border-secondary;

  opacity: 0.6;
  font-size: 12px;

  &:hover {
    cursor: pointer;
    opacity: 1.0;
  }
}

.tag-name {
  @extend .float-start, .ps-2;
}

.tag-close {
  @extend .btn-close, .float-end, .ps-2, .pe-2;
}
