{{ define "index-page" }}
  <!DOCTYPE html>
  <html>
    <head>
      <title>Balance</title>
      <link href="/assets/bootstrap.min.css" rel="stylesheet">
      <link href="/assets/application.css" rel="stylesheet">
    </head>
    <body>
      <div class="container mt-3 mb-3">
        <div id="items" hx-get="/items" hx-trigger="load"></div>
      </div>

      <div class="container mt-3 mb-3">
        {{ template "init-ping-button" }} <span id="ping-message"></span>
      </div>

      <script src="/assets/htmx.min.js"></script>
      <script src="/assets/bootstrap.bundle.min.js"></script>
      <script src="/assets/application.js"></script>
    </body>
  </html>
{{ end }}
