{{ define "items-inline-form" }}
<form hx-post="/items" hx-swap="outerHTML">
  <div class="mb-3">
    <label class="form-label">Date</label>

    <input name="date" value="{{- .GetDate -}}" class="form-control {{ if .Errors.Check "date" }} is-invalid {{ end }}" type="text">

    {{ if .Errors.Check "date" }}
      <div class="invalid-feedback">
        <ul>
          {{ range .Errors.Get "date" }}
            <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </div>

  <div class="mb-3">
    <label class="form-label">Sum</label>

    <input name="formula" value="{{- .Formula -}}" class="form-control {{ if .Errors.Check "formula" }} is-invalid {{ end }}" type="text">
    {{ if .Errors.Check "formula" }}
      <div class="invalid-feedback">
        <ul>
          {{ range .Errors.Get "formula" }}
            <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </div>

  <div class="mb-3">
    <label class="form-label">Category</label>

    <input name="category-id" value="{{ if ne .CategoryID 0 }} {{- .CategoryID -}} {{ end }}" class="form-control {{ if .Errors.Check "category-id" }} is-invalid {{ end }}" type="text">

    {{ if .Errors.Check "category-id" }}
      <div class="invalid-feedback">
        <ul>
          {{ range .Errors.Get "category-id" }}
            <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </div>

  <div class="mb-3">
    <label class="form-label">Description</label>
    <input name="description" value="{{- .Description -}}" class="form-control" type="text">
  </div>

  <div>
    <button class="btn btn-primary" type="submit">Create Item</button>
  </div>
</form>
{{ end }}
