{{ define "item-list" }}
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Sum</th>
        <th>Category</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      {{ range . }}
        {{ block "item-list-element" . }}
          <tr>
            <td>{{ .Date }}</td>
            <td>{{ .Sum }}</td>
            <td>{{ .Category }}</td>
            <td>{{ .Description }}</td>
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
{{ end }}
