<%= breadcrumbs do %>
  <%= link_to 'Категорії', :categories, class: 'breadcrumb-item', data: { remote: true } %>

  <span class="breadcrumb-item active">Редагування категорії</span>
<% end %>

<%= render 'form' %>
