<div class="clearfix">
  <div class="float-left">
    <%= breadcrumbs do %>
      <span class="breadcrumb-item active">Категорії</span>
    <% end %>
  </div>

  <div class="float-right">
    <%= link_to 'Додати', [:new, :category], data: { remote: true }, class: 'btn btn-sm btn-success' %>
  </div>
</div>

<table class="table backoffice-table">
  <tr>
    <th>Назва</th>

    <th class="text-align-center">Надходження</th>

    <th></th>

    <th></th>
  </tr>

  <%= render collection %>
</table>
