<div class="container">
  <div class="clearfix">
    <h3 class="float-left">Категорії:</h3>
    <%= link_to 'Додати нову категорію', :new_category, remote: true, class: 'btn btn-primary float-right' %>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Назва</th>
        <th>Income</th>
        <th>Slug</th>
        <th>Видима</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="categories">
      <% if collection.any? %>
        <%= render collection %>
      <% else %>
        <%= render 'not_found' %>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'widgets/modal' %>