package categorycomponents

import "github.com/tksasha/balance/internal/decorators"

templ Expense(decorator *decorators.CategoriesDecorator) {
	<optgroup label="Expense">
		for _, category := range decorator.Expense {
			<option value={ category.ID }>
				{ category.Name }
			</option>
		}
	</optgroup>
}
