package categorycomponents

import "github.com/tksasha/balance/internal/decorators"

templ Income(decorator *decorators.CategoriesDecorator) {
	<optgroup label="Income">
		for _, category := range decorator.Income {
			<option value={ category.ID }>
				{ category.Name }
			</option>
		}
	</optgroup>
}
