package categorycomponents

import "github.com/tksasha/balance/internal/decorators"

templ Select(decorator *decorators.CategoriesDecorator) {
	<select
		class="form-select"
		name="category_id"
	>
		@Expense(decorator)
		@Income(decorator)
	</select>
}
