<tr>
  <td class="text-center"><%= l exchange_rate.date %></td>

  <td style="text-transform:uppercase"><%= exchange_rate.from %> / <%= exchange_rate.to %></td>

  <td><%= exchange_rate.rate %></td>
</tr>
